* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #e8e9eb;
  height: calc(100vh - 124px);
  overflow: hidden;
}

h1 {
  color: white;
  font-size: 54px;
  margin: 0px;
  margin-bottom: -12px;
  margin-left: -4px;
  position: absolute;
  bottom: 0px;
}

main {
  height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 124px;
  position: relative;
}

aside {
  background-color: #ecdecc;
}

* input:active, input:focus {
  outline: 0;
}

* button:active, button:focus {
  outline: 0;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
}

.banner {
  background-color: #db7676;
  height: 80px;
  position: relative;
  text-align: center;
  width: 100%;
}

.search {
  background-color: white;
  height: 44px;
  width: 100%;
}

.search form {
  height: 100%;
  width: 100%;
}

.search label {
  font-size: 0px;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.search input {
  border: none;
  color: #8b848b;
  display: block;
  font-size: 24px;
  font-weight: 100;
  height: 100%;
  margin: auto;
  outline: none;
  text-align: center;
  width: 100%;
}

.add-header {
  background-color: #8b848b;
  border: none;
  bottom: 0px;
  height: 45px;
  left: 0px;
  position: relative;
  width: 100%;
}

.add-panel label {
  font-size: 0px;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

#add-bookmark {
  background-color: white;
  margin-top: -2px;
  padding: 10px;
  padding-bottom: 32px;
  width: 100%;
}

#add-bookmark input, select {
  border: 1px solid #8b848b;
  margin-bottom: 10px;
  padding: 6px;
  width: 100%;
}

.bookmark-submit {
  background: none;
  background-color: #db7676;
  border: none;
  color: white;
  float: right;
  font-size: 24px;
  font-weight: bold;
  height: 30px;
  margin-right: -10px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 9px;
  text-align: right;
  width: 80px;
}

.filter-panel {
  clear: right;
}

.filter-header {
  background-color: #bbc8d7;
  border: none;
  bottom: 0px;
  height: 45px;
  left: 0px;
  margin-top: -2px;
  position: relative;
  width: 100%;
}

#filter-form {
  background-color: white;
  margin-top: -2px;
  padding: 10px;
  padding-bottom: 0px;
  width: 100%;
}

#filter-form select {
  border: 1px solid #8b848b;
  margin-bottom: 10px;
  padding: 6px;
  width: 100%;
}

.side-title {
  bottom: -6px;
  color: white;
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
  left: -1px;
  overflow: hidden;
  position: absolute;
}

.make-scroll {
  height: 100%;
  overflow-y: scroll;
}

.bookmarks {
  background-color: #ecdecc;
  height: fit-content;
  margin: 0px;
  min-height: 100%;
  padding: 15px;
  width: 100%;
}

.bookmarks li {
  list-style-type: none;
  margin-bottom: 15px;
}

.bookmark {
  display: block;
  height: auto;
  width: 100%;
}

.bookmark-header {
  background-color: #db7676;
  border: none;
  bottom: 0px;
  cursor: pointer;
  height: 30px;
  left: 0px;
  position: relative;
  width: 100%;
}

.bookmark-title {
  color: white;
  display: inline-block;
  font-size: 24px;
  left: 4px;
  margin: 0px;
  overflow: hidden;
  position: absolute;
  top: 3px;
}

.bookmark-rating {
  bottom: 0px;
  display: inline-block;
  right: 0px;
  position: absolute;
}

.bookmark-info {
  background-color: white;
  height: auto;
  margin-top: -2px;
  padding: 10px;
}

.bookmark-info p {
  margin: 0px;
  margin-bottom: 10px;
}

.bookmark-info a {
  text-decoration: none;
}

.visit-button {
  background-color: #8b848b;
  height: 30px;
  overflow: hidden;
  position: relative;
}

.visit-url {
  background: none;
  border: none;
  /* bottom: -6px; */
  color: white;
  font-size: 24px;
  font-weight: bold;
  height: 100%;
  left: 0px;
  line-height: 44px;
  padding: 0px;
  position: absolute;
  text-align: left;
  width: 100%;
}

.delete-button {
  background-color: #8b848b;
  border: none;
  color: white;
  float: right;
  font-size: 24px;
  font-weight: bold;
  height: 30px;
  line-height: 44px;
  margin-left: 10px;
  padding: 0px;
  text-align: right;
  width: 100px;
}